.dc20-refresh {
    position: absolute;
    right: 0;
    bottom: 0;
}

.dc20 button {
    border: 0;
    border-left: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    background: white;
}

.dc20 button:focus {
    outline: none;
}

.dc20 button:hover {
    background: rgb(224,224,224);
}

.dc20 button:last-child {
    border-bottom: none;
}

.dc20 button.dc20-advantage {
    color: rgb(0,170,0);
}

.dc20 button.dc20-advantage:hover {
    background: rgba(0,170,0,.12);
}

.dc20 button.dc20-disadvantage {
    color: rgb(170,0,0);
}

.dc20 button.dc20-disadvantage:hover {
    background: rgba(170,0,0,.12);
}

.dc20-ability,
.dc20-stat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dc20-ability button,
.dc20-stat button {
    height: 25%;
}

.dc20-stat button:only-child {
    height: 100%;
}

.dc20-skill {
    position: absolute;
    right: 5px;
}

.dc20-skill button {
    border: 1px solid rgba(0,0,0,.12);
    border-right: 0;
}

.dc20-skill button:last-child {
    border-bottom: 1px solid rgba(0,0,0,.12);
    border-right: 1px solid rgba(0,0,0,.12);
}

.dc20-attack {
    position: absolute;
    right: 5px;
    top: -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.dc20-attack button {
    border-right: 1px solid rgba(0,0,0,.12);
}

.dc20-attack button:first-child {
    border-top: 1px solid rgba(0,0,0,.12);
}

.dc20-attack button:last-child {
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.dc20-feature button {
    border: 0;
}

.dc20-hidden {
    display: none !important;
}

.dc20-action-title {
    font-weight: bold;
}

.dc20-action-description {
    overflow-y: auto;
    width: calc(100% - 12px);
}

.dc20-action-description::-webkit-scrollbar {
    width: 10px;
}
 
.dc20-action-description::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #e4e4e4;
}
 
.dc20-action-description::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #c0c0c0;
}

.dc20-action-table {
    border-spacing: 0;
    border: 0;
    width: calc(100% - 3px);
}

.dc20-action-table th,
.dc20-action-table td {
    text-align: left;
    margin: 0;
    padding: 3px 0;
    font-size: 13px;
    border-bottom: 1px solid rgba(0,0,0,.06);
}

.dc20-action-table tr:last-child th,
.dc20-action-table tr:last-child td {
    border-bottom: 0;
}

.dc20-action-table th {
    width: 30%;
    font-weight: normal;
}


/* Overwrites */
.features .column-container>div:first-child {
    column-span: all;
}

.features .column-container>div:first-child .bottom.list {
    column-width: 296px;
    column-gap: 8px;
    column-fill: balance;
    column-rule: 1px solid rgba(0,0,0,.12);
    padding: 0;
}

.features .column-container>div:first-child .bottom.list .item-slot {
    display: inline-flex;
    min-width: 100%;
    align-items: center;
    background-color: transparent;
    height: 96px;
}

.features .column-container>div:first-child .bottom.list .item-slot .attack {
    width: 100%;
    background: transparent;
}

.features .item-slot .attack .layout.horizontal {
    height: 64px;
}

.features .item-slot .attack .layout.vertical {
    margin-top: -3px;
    margin-bottom: 3px;
}