.dc20-menu {
    position: fixed;
    right: 2px;
    bottom: 5px;
}

.dc20-advantage .monster .monster-abilities .label,
.dc20-disadvantage .monster .monster-abilities .label,
.dc20-gmroll .monster .monster-abilities .label {
    color: white;
}

.dc20-advantage .dc20 button:not(.dc20-noadvantage),
.dc20-advantage button.dc20-advantage {
    background: #648f64;
    color: white;
}

.dc20-disadvantage .dc20 button:not(.dc20-noadvantage),
.dc20-disadvantage button.dc20-disadvantage {
    background: #9c6565;
    color: white;
}

.dc20-gmroll .dc20 button:not(.dc20-noadvantage),
.dc20-gmroll button.dc20-gmroll {
    background: #283f57;
    color: white;
}

.dc20 button {
    outline: 0;
    border: 0;
    border-radius: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    background: rgb(239, 239, 239);
}

.dc20 button:hover {
    background: rgb(210, 210, 210);
}

.dc20-advantage .dc20 button:hover:not(.dc20-noadvantage),
.dc20-advantage button:hover.dc20-advantage {
    background: #537553;
}

.dc20-disadvantage .dc20 button:hover:not(.dc20-noadvantage),
.dc20-disadvantage button:hover.dc20-disadvantage {
    background: #835555;
}

.dc20-gmroll .dc20 button:hover:not(.dc20-noadvantage),
.dc20-gmroll button:hover.dc20-gmroll {
    background: #1e2f41;
}

.dc20-autosaving .dc20 button.dc20-autosave {
    background: #b8559f;
    color: white;
}

.dc20-saved .dc20 button.dc20-autosave {
    background: #2e9762;
    transition: background-color .2s ease;
}

.dc20-autosaving .dc20 button.dc20-autosave:hover {
    background: #c262aa;
}

.dc20-menu button {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.dc20-hidden {
    display: none;
}

.dc20-ability {
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
}

.monster .monster-abilities {
    display: flex !important;
    width: 100% !important;
    justify-content: space-around !important;
}

.dc20-action button,
.dc20-reaction button,
.dc20-legendary-action button,
.dc20-lair-action button {
    text-align: left;
    width: 100%;
    padding: 0;
}

.dc20-legend .dc20-title {
    text-align: center;
    background: rgba(222, 226, 230, 0.5);
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: 10px;
    font-weight: bold;
}

.dc20-legend label {
    font-size: 12px;
}

.dc20-legend .dc20-description {
    font-size: 12px;
    vertical-align: center;
    padding: 3px;
}

.dc20-legend code {
    border: 1px solid rgba(172, 191, 207, 0.5);
    background: rgba(201, 222, 241, .5);
    color: rgb(79, 85, 94);
    padding: 2px;
    border-radius: 2px;
    display: block;
    margin: 2px;
}

.dc20-action-title {
    font-weight: bold;
    padding: 5px 5px 0;
}

.dc20-action-subheader {
    padding: 5px 5px 0;
}

.dc20-action-description {
    margin-top: 5px;
}

.dc20-action-table {
    width: 100%;
}

.dc20-action-table td,
.dc20-action-table th {
    padding: 3px 8px;
    font-size: 12px;
}

.dc20-action-table td {
    border-top: 1px solid rgba(0,0,0,.12);
}

.dc20-action-table th {
    width: 25%;
    font-weight: normal;
    border-right: 1px solid rgba(0,0,0,.12);
    border-top: 1px solid rgba(0,0,0,.12);
}